.DS_Store
*.zip
*.gz  (compressed)
log/*.log
log/*.log.[0-9]
node_modules/
*.log
.c9/
package-lock.json
.env
ecosystem.config.js


*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_Store
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup

# ruby/bundler files
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock

